body {
  background-color: #f0f0f0 !important;
}

.i9-component {
  margin: 50px;
}

.i9-component p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}

.i9-component a {
  text-decoration: underline;
}


_i9.scss

